<%= form_with(model: [@book, @book_comment], url: book_book_comments_path(@book) ) do |f| %>
  <div class="form-group row">
    <%= f.text_area :comment, size: "90x5" %>
    <%= f.submit "送信"%>
  </div>
<% end %>